.card__like {
    width: 22px;
    height: 19px;
    margin-right: 15px;
    background-image: url("../../../images/like.png");
}

.card__like:hover {
    opacity: 0.5;
}

.card__like:active {
    background-image: url("../../../images/active-like.png");
    background-size: 22px;
}
