.card__like {
    width: 22px;
    height: 19px;
    margin-right: 15px;
    background-image: url("../../../images/like.svg");
    border: none;
    background-color: white;
}

.card__like:hover {
    opacity: 0.5;
}

.card__like:active {
    background-image: url("../../../images/active-like.svg");
    background-size: 22px;
    opacity: 1;
}
